<div ng-controller="NavCtrl">
    <nav class="navbar navbar-fixed-top header" ng-controller="ToolbarCtrl">
       <div class="col-md-12">
            <div class="navbar-header">

              <a href="#" class="navbar-brand">Bugster </a>

              <!-- <md-button class="md-fab md-fab-top-left left" aria-label="Insert Drive">
                <md-tooltip >
                  Insert Drive
                </md-tooltip>
              </md-button> -->


              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
              <i class="fa fa-search"></i>
              </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse1">
              <form class="navbar-form pull-left">
                  <div class="input-group" style="max-width:470px;">
                    <button ng-show="rincon" class="btn btn-danger" ng-controller="NewPostCtrl" ng-click="newPost()">
                      <i class="fa fa-plus"></i> Nuevo post</a></li>
                    </button>
                    <!-- <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                      <button class="btn btn-default btn-primary" type="submit"><i class="fa fa-search"></i></button>
                    </div> -->
                  </div>

              </form>

              <form class="navbar-form pull-right" ng-if="!user">
                <button href="#loginModal" class="btn btn-success" role="button" data-toggle="modal">
                  <i class="fa fa-sign-in"></i>
                  Regístrate</button>
                <a href="/auth/facebook" class="btn btn-primary">Inicia sesión</a>
              </form>

              <ul class="nav navbar-nav navbar-right">
                <li ng-if="user">
                  <a href="#" target="_ext">
                    <img ng-src="http://graph.facebook.com/{{user.facebook}}/picture" alt="" width="20px" class="img-circle"/>
                   {{posts_quantity}} {{user.name}}
                  </a>
                </li>
                <li ng-if="user">
                  <a href="javascript:;" tooltip="Los bugs son">
                    <i class="fa fa-bug"></i>
                    <span class="badge btn-danger">{{user.bugs}}</span>
                  </a>
                <!-- </li>
                 <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                      <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                    </ul>
                 </li>
                 <li><a href="#" id="btnToggle"><i class="fa fa-th-large"></i></a></li>
                 <li><a href="#"><i class="fa fa-user"></i></a></li> -->
               </ul>
            </div>
         </div>
    </nav>
    <div class="navbar navbar-default" id="subnav">
        <div class="col-md-12">
            <div class="navbar-header">
                <h2 style="font-size:20px;margin-left:40px;color:#777">{{currentURL | uppercase}}</h2>

              <a href="#" style="margin-left:15px;" class="hidden navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home" style="color:#dd1111;"></i> Home <small><i class="fa fa-chevron-down"></i></small></a>
              <ul class="nav dropdown-menu">
                  <li><a href="#"><i class="fa fa-user" style="color:#1111dd;"></i> Profile</a></li>
                  <li><a href="#"><i class="fa fa-dashboard" style="color:#0000aa;"></i> Dashboard</a></li>
                  <li><a href="#"><i class="fa fa-inbox" style="color:#11dd11;"></i> Pages</a></li>
                  <li class="nav-divider"></li>
                  <li><a href="#"><i class="fa fa-cog" style="color:#dd1111;"></i> Settings</a></li>
                  <li><a href="#"><i class="fa fa-plus"></i> More..</a></li>
              </ul>


              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse2">
              <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="r in rincones" ng-class="{ active: currentURL == r.title }" tooltip="{{::r.description}}">
                  <a href="rincon/{{::r.title}}" tooltip="asdasd">
                     {{::r.title}}
                     </a>
                </li>
                <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
              </ul>
            </div>
         </div>
    </div>

</div>
