<% include header %>
<!--main-->
<div class="container" id="main">

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
       <div class="panel-body">
            <div class="list-group">
              <h2>asd</h2>
              <% topRincones %>
              <% topRincones.forEach(tr){ %>
                <a href="http://bootply.com/tagged/modal" class="list-group-item">
                  <%=tr.title%> <span class="badge pull-right"><%=tr.posts%></span>
                </a>
              <% } %>

              <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
              <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
            </div>
          </div>
      </div>
    </div>
  </div>



  <div class="row">
     <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="//placehold.it/450X300/DD3333/EE3333" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Hacker News</p>
            <p>120k Followers, 900 Posts</p>

            <p>
              <img src="http://api.randomuser.me/portraits/med/men/20.jpg" width="28px" height="28px">
              <img src="http://api.randomuser.me/portraits/med/men/21.jpg" width="28px" height="28px">
              <img src="http://api.randomuser.me/portraits/med/men/14.jpg" width="28px" height="28px">
            </p>
          </div>
        </div>
      </div><!--/col-->

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="//placehold.it/450X300/DD66DD/EE77EE" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Bootstrap Templates</p>
            <p>902 Followers, 88 Posts</p>

            <p>
              <img src="http://api.randomuser.me/portraits/med/men/4.jpg" width="28px" height="28px">
              <img src="http://api.randomuser.me/portraits/med/men/24.jpg" width="28px" height="28px">
            </p>
          </div>
        </div>
      </div><!--/col-->

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="//placehold.it/450X300/2222DD/2222EE" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Social Media</p>
            <p>19k Followers, 789 Posts</p>

            <p>
              <img src="http://api.randomuser.me/portraits/med/women/4.jpg" height="28px">
              <img src="http://api.randomuser.me/portraits/med/men/4.jpg" width="28px" height="28px">
            </p>
          </div>
        </div>
      </div><!--/col-->

    </div>

    <hr>


    <br>

    <div class="clearfix"></div>

    <hr>
    <div class="col-md-12 text-center">
      <p>
        <a href="http://nodex.mx" target="_ext">Nodex</a>
      </p>
    </div>
    <hr>

  </div>
</div><!--/main-->


<% include login %>
<% include footer %>
