<% include header %>
<!--main-->

<div>
  <!--if lt IE 9
    p.browsehappy
      | You are using an
      strong outdated
      | browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      | to improve your experience.
    -->

    <div data-ng-controller="AppCtrl">
        <div data-ng-include=" 'views/menu.html' "></div>

      <div class="view-container container">
        <div class="indexable">

          <div class="row">
            <div class="col-md-7">
              <% if(typeof post.image!='undefined') %>
                <img src="<%=post.image%>" alt="<%=post.title%>" style="max-width:100%" />
              <%%>
            </div>

            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-body">

                  <h2><%=post.title%></h2>

                  <% if(post.description!='undefined') { %>
                    <%=post.description%>
                  <% } %>
                  <p>
                  </p>
                  <hr>
                  <div class="btn-group">
                    <button class="btn btn-default"><i class="fa fa-thumbs-up"></i> Me agrada</button>
                    <button class="btn btn-default"><i class="fa fa-thumbs-down"></i> Me desagrada</button>
                    <a class="btn btn-default" href="/user/petronilo">
                      <i class="fa fa-user"></i> Stalkear al autor
                    </a>
                  </div>
                </div>
              </div>

              <div class="well">
                <div class="fb-comments" data-href="http://bugster.mx" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>

</div><!--/main-->


<% include login %>
<% include footer %>
