<div ng-controller="BrowseCtrl">
        <div class="row" infinite-scroll='Lazy.posts()' infinite-scroll-distance='1'>
            <div class="col-md-{{rincon.column}}" ng-repeat="post in Lazy.items" style="min-height:500px">

              <div class="panel panel-default">
                <div class="panel-thumbnail">
                  <div ng-show="post.image" class="img-holder">
                    <a href="/post/{{::post.post_id}}">
                      <img ng-src="{{::post.image}}" class="img-responsive">
                    </a>
                  </div>
                  <div ng-show="post.youtube" class="img-holder">
                    <a href="/post/{{::post.post_id}}">
                      <img ng-src="http://img.youtube.com/vi/{{::post.youtube}}/mqdefault.jpg" class="img-responsive" width="100%">
                    </a>
                  </div>
                </div>
                <div class="panel-body">
                  <p class="lead">{{::post.title}}</p>
                  <!-- <p ng-if="post.description">{{::post.description | limitTo:100}}</p> -->

                  <a href="/post/{{post.post_id}}" class="btn btn-danger pull-right" tooltip="Visitas">
                    <i class="fa fa-eye" style="color:#fff"></i> {{::post.views}}</a>

                  <p>
                    <!-- <img src="http://api.randomuser.me/portraits/med/men/20.jpg" width="28px" height="28px">
                    <img src="http://api.randomuser.me/portraits/med/men/21.jpg" width="28px" height="28px">
                    <img src="http://api.randomuser.me/portraits/med/men/14.jpg" width="28px" height="28px"> -->
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div ng-if="Lazy.busy">

          <div class="">
            <h3 align="center">Cargando contenido <i class="fa fa-spinner fa-spin"></i></h3>
          </div>

        </div>

      </div>
